.main__features-wrapper {
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.main__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #e7e7e7;
    font-family: var(--font-family);
}

.main__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
}

.main__features-heading h1 {
    font-size: 34px;
    line-height: 45px;
}

.main__features-heading p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 2rem;
}

.main__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.main__features-container_feature-text {
   margin-right: 5rem;
}

@media screen and (max-width: 1200px) {
    .main__features {
        flex-direction: column;
    }

    .main__features-heading {
        margin: 0 0 2rem 0;
    }

    .main__features-container_feature-text {
        margin-right: 0;
     }
}

@media screen and (max-width: 550px) {
    .main__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}